* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Open-Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  /* font-size: 3.2em;
  line-height: 1.1; */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #f3f3fc;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* MUI users styles */

.MuiInputBase-input[type='text'],
.MuiInputBase-input[type='email'],
.MuiInputBase-input[type='password'] {
  color: rgb(209, 209, 209);
}

.MuiButtonBase-root[type='submit'] {
  background-color: #5cc7b2;
  transition: all .3s ease-in-out;
}

.MuiButtonBase-root[type='submit']:hover {
  background-color: #65dbc4;
}